.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px auto 60px;
  max-width: 880px;
}

@media screen and (max-width: 930px) {
  .footer__copyright {
    margin: 67px 19px 60px;
  }
 }

 @media screen and (max-width: 530px) {
  .footer__copyright {
    margin: 48px 19px 36px;
  }
 }

@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
 }
