.popup__button-close {
  position: absolute;
  border: none;
  background: url("../../../images/close_icon.svg");
  background-size: 100%;
  cursor: pointer;
  width: 32px;
  aspect-ratio: 1/1;
  padding: 0;
  top: -40px;
  right: -40px;}

.popup__button-close:hover {
  opacity: 0.6;
  transition: opacity 0.5s ease;
}

@media screen and (max-width: 530px) {
  .popup__button-close {
    width: 20px;
    top: -36px;
    right: 0;
  }
}
