/* .authorize__container {
        box-sizing: border-box;
        position: relative;
        max-width: 430px;
       
    
        padding: 34px 36px 37px;
      }
      
      @media screen and (max-width: 530px) {
        .popup__container {
          padding: 25px 22px;
        }
      } */
