/* .form__button-save_form-delete {
  margin: 38px auto 0;
}

@media screen and (max-width: 530px) {
  .form__button-save_form-delete {
    margin: 35px auto 0;
    font-size: 14px;
    line-height: 17px;
    }
   } */
