.header__menu-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    margin-left: 24px;
}

.header__menu-link:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
  }

  @media screen and (max-width: 768px) {
    .header__menu-link {
      font-size: calc(14px + (18 - 14) * ((100vw - 320px)) / (768 - 320));
    }
   }
  