.header {
  margin: 45px auto 40px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-size: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 930px) {
  .header {
    margin: 28px 20px 42px;
    width: auto;
  }
 }

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    margin: 28px 0 42px;
  }
 }
